#
# CI workflow
# Calling it:
#   name: CI
#
#   on:
#     push:
#       branches:
#         - main
#     pull_request:
#
#   jobs:
#     build:
#       name: Verify
#       uses: maveniverse/parent/.github/workflows/ci.yml@release-42
#
# Secrets: none
#

name: CI

on:
  workflow_call:
    inputs:
      maven-single-run:
        description: Is maven single run needed
        required: false
        default: true
        type: boolean

      maven-single:
        description: The maven invocation for single build step
        required: false
        default: './mvnw clean install -e -B -V'
        type: string

      maven-test-run:
        description: Is maven test run needed
        required: false
        default: true
        type: boolean

      maven-test:
        description: The maven invocation for test matrix step
        required: false
        default: './mvnw install -e -B -V -P run-its'
        type: string

      os-matrix:
        description: os matrix as json array
        required: false
        default: '[ "ubuntu-latest", "windows-latest", "macOS-latest" ]'
        type: string

      jdk-matrix:
        description: jdk matrix as json array
        required: false
        # don't forget matrix-excludes below if changing Java versions
        default: '[ "8", "11", "17", "21", "24" ]'
        type: string

      jdk-distribution-matrix:
        description: jdk distribution matrix
        required: false
        default: '[ "zulu" ]'
        type: string

      maven-matrix:
        description: The Maven version matrix as json array
        required: false
        # don't forget matrix-excludes below if changing Maven versions
        default: '[ "3.9.12", "4.0.0-rc-5" ]'
        type: string

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: inputs.maven-single-run
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: mvn-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}
          restore-keys: |
            mvn-${{ hashFiles('**/pom.xml') }}-
            mvn-
      - name: Maven Build
        run: ${{ inputs.maven-single }}
      - name: Upload logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
         name: ${{ github.run_number }}-build
         path: |
           **/target/**
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    if: (!cancelled()) && inputs.maven-test-run && ( !inputs.maven-single-run || needs.build.result == 'success' )
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON( inputs.os-matrix ) }}
        jdk: ${{ fromJSON( inputs.jdk-matrix ) }}
        distribution: ${{ fromJSON( inputs.jdk-distribution-matrix ) }}
        maven: ${{ fromJSON( inputs.maven-matrix ) }}
        exclude:
          - jdk: 8
            maven: 4.0.0-rc-4
          - jdk: 11
            maven: 4.0.0-rc-4
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
      - name: Cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: mvn-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}
          fail-on-cache-miss: true
      - run: ./mvnw -N -Dmaven=${{ matrix.maven }} wrapper:wrapper
      - name: Maven Test
        run: ${{ inputs.maven-test }}
      - name: Upload logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ${{ github.run_number }}-test-${{ matrix.os }}-${{ matrix.jdk }}-${{ matrix.distribution }}-${{ matrix.maven }}
          path: |
            **/target/**

